.alert {
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 16;
    -fx-background-radius: 10;
}

.dialog-pane {
    -fx-font-family: "Arial";
    -fx-font-size: 10pt;
}

.dialog-pane > *.content {
    -fx-padding: 20;
}
